@charset "UTF-8";

@font-face {
  font-family: 'Wisdom Script';
  src: url("../fonts/Wisdom Script AJ.eot");
  src: local("☺"), url("../fonts/Wisdom Script AJ.woff") format("woff"), url("../fonts/Wisdom Script AJ.ttf") format("truetype"), url("../fonts/Wisdom Script AJ.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro-It';
  src: url("../fonts/MyriadPro-It.eot");
  src: local("☺"), url("../fonts/MyriadPro-It.woff") format("woff"), url("../fonts/MyriadPro-It.ttf") format("truetype"), url("../fonts/MyriadPro-It.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  color: #777777;
  line-height: 1.5em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 75px;
  padding: 50px 0;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #222222;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #383333;
}

.animation_bottom {
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
}

.animation_right {
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  opacity: 0;
}

.animation_left {
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  opacity: 0;
}

.animation_show {
  opacity: 0;
}

._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

header {
  position: relative;
  height: 700px;
  background-image: url(../img/header-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .container div {
  width: 100%;
}

header .container .header__top-line {
  padding-top: 45px;
}

header .container .header__top-line .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header__top-line .row .header-burger {
  cursor: pointer;
  z-index: 5;
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
}

header .container .header__top-line .row .header-burger::after,
header .container .header__top-line .row .header-burger::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .container .header__top-line .row .header-burger span {
  background-color: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 9px;
}

header .container .header__top-line .row .header-burger::before {
  top: 0;
}

header .container .header__top-line .row .header-burger::after {
  bottom: 0;
}

header .container .header__top-line .row .active-burger::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

header .container .header__top-line .row .active-burger::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

header .container .header__top-line .row .active-burger span {
  display: none;
}

header .container .header__top-line .row .container-burger {
  width: 134px;
  display: none;
}

header .container .header__top-line .row .header__menu {
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

header .container .header__top-line .row .header__menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .container .header__top-line .row .header__menu ul li {
  margin: 0 20px;
}

header .container .header__top-line .row .header__menu ul li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

header .container .header__top-line .row .header__logo {
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

header .container .header__top-line .row .header__logo a {
  font-family: 'Wisdom Script', sans-serif;
  font-size: 26px;
  color: #fed136;
}

header .container .header__content {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 627px;
}

header .container .header__content h1 {
  -webkit-transition: all 0.5s ease 0.4s;
  -o-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

header .container .header__content p {
  font-family: 'Myriad Pro-It', sans-serif;
  font-style: italic;
  font-size: 40px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

header .container .header__content .header__button {
  margin-top: 25px;
  -webkit-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

header .container .header__content a {
  background-color: #fed136;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 52px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

header .header-sm-menu {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #191919;
  z-index: 9;
  width: 320px;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

header .header-sm-menu nav ul hr {
  height: 1px;
  background-color: #777777;
}

header .header-sm-menu nav ul li {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

header .header-sm-menu nav ul li a {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

header .header-sm-menu.active-burger {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
}

.title {
  margin-bottom: 80px;
  text-align: center;
}

.title h2 {
  margin-bottom: 20px;
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.title p {
  font-family: 'Myriad Pro-It', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #777777;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

main > section {
  padding: 120px 0;
}

main .services__kategory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-column-gap: 25px;
}

main .services__kategory .icon {
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  margin: 0 auto;
  position: relative;
  height: 67px;
  width: 67px;
  border: 3px solid #fed136;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

main .services__kategory .icon svg {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

main .services__kategory h3 {
  -webkit-transition: all 0.5s ease 0.4s;
  -o-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
  margin: 20px 0;
}

main .services__kategory p {
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

main .our-portfolio {
  background-color: #f7f7f7;
}

main .our-portfolio .our-portfolio__portfolio-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item {
  background-color: #fff;
  height: 390px;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item .img-container {
  background: url(../img/portfolio-img1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item .our-portfolio__text {
  height: 90px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item:nth-child(1) {
  -webkit-transition: all 0.3s ease 0.3s;
  -o-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item:nth-child(2) {
  -webkit-transition: all 0.3s ease 0.4s;
  -o-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item:nth-child(3) {
  -webkit-transition: all 0.3s ease 0.5s;
  -o-transition: all 0.3s ease 0.5s;
  transition: all 0.3s ease 0.5s;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item:nth-child(4) {
  -webkit-transition: all 0.3s ease 0.6s;
  -o-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item:nth-child(5) {
  -webkit-transition: all 0.3s ease 0.7s;
  -o-transition: all 0.3s ease 0.7s;
  transition: all 0.3s ease 0.7s;
}

main .our-portfolio .our-portfolio__portfolio-block .our-portfolio__item:nth-child(6) {
  -webkit-transition: all 0.3s ease 0.8s;
  -o-transition: all 0.3s ease 0.8s;
  transition: all 0.3s ease 0.8s;
}

main .about-us .about-us__content .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .about-us .about-us__content .row .central-img {
  background: url(../img/about-us-img1.jpg);
  height: 168px;
  min-width: 168px;
  border: 6px solid #f7f7f7;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.6s ease 0.3s;
  -o-transition: all 0.6s ease 0.3s;
  transition: all 0.6s ease 0.3s;
}

main .about-us .about-us__content .row .central-img p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  width: 110px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

main .about-us .about-us__content .row .last {
  background: #fed136;
}

main .about-us .about-us__content .row .about-us__text {
  text-align: right;
  width: 310px;
  -webkit-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
}

main .about-us .about-us__content .row .null-block {
  width: 310px;
  height: 100%;
}

main .about-us .about-us__content .row_last .null-block {
  display: none;
}

main .about-us .about-us__content .row_l .about-us__text_l {
  text-align: left;
}

main .about-us .about-us__content .vertical-line {
  height: 90px;
  width: 2px;
  background-color: #f7f7f7;
  margin: 0 auto;
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

main .our-amazing-team {
  background-color: #f7f7f7;
}

main .our-amazing-team .our-amazing-team__team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 60px;
}

main .our-amazing-team .our-amazing-team__team .our-amazing-team__item {
  text-align: center;
  -webkit-transition: all 0.7s ease 0.6s;
  -o-transition: all 0.7s ease 0.6s;
  transition: all 0.7s ease 0.6s;
}

main .our-amazing-team .our-amazing-team__team .our-amazing-team__item .our-amazing-team__text {
  margin: 15px 0;
}

main .our-amazing-team .our-amazing-team__team .our-amazing-team__item .our-amazing-team__avatar {
  height: 220px;
  width: 220px;
  background-color: #111111;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto;
}

main .our-amazing-team .our-amazing-team__team .our-amazing-team__item .our-amazing-team__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .our-amazing-team .our-amazing-team__team .our-amazing-team__item .our-amazing-team__links .link {
  margin: 0 5px;
  width: 34px;
  height: 34px;
  border: 2px solid #111111;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .our-amazing-team .our-amazing-team__team .our-amazing-team__item .our-amazing-team__links .link a {
  color: #111111;
}

main .our-amazing-team .our-amazing-team__description {
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
  margin-top: 45px;
  text-align: center;
}

main .our-amazing-team .our-amazing-team__description p {
  margin: 0 auto;
  max-width: 610px;
}

main .sponsors .sponsors__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sponsors .sponsors__block .sponsors__item {
  margin: 0 20px;
}

main .contact-us {
  background: url(../img/contact-backgroung.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .contact-us .title-white h2 {
  color: #fff;
}

main .contact-us .title-white p {
  color: #fff;
}

main .contact-us .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

main .contact-us .inputs .contact__block {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contact-us .inputs .contact__block input,
main .contact-us .inputs .contact__block textarea {
  padding: 20px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #222;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 14px 0;
  border: 1px solid #ccc;
}

main .contact-us .inputs .contact__block input::-webkit-input-placeholder, main .contact-us .inputs .contact__block textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #bbbbbb;
}

main .contact-us .inputs .contact__block input::-moz-placeholder, main .contact-us .inputs .contact__block textarea::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #bbbbbb;
}

main .contact-us .inputs .contact__block input:-ms-input-placeholder, main .contact-us .inputs .contact__block textarea:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #bbbbbb;
}

main .contact-us .inputs .contact__block input::-ms-input-placeholder, main .contact-us .inputs .contact__block textarea::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #bbbbbb;
}

main .contact-us .inputs .contact__block input::placeholder,
main .contact-us .inputs .contact__block textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #bbbbbb;
}

main .contact-us .inputs .contact__block textarea {
  height: 100%;
  min-width: 100%;
  resize: none;
}

main .contact-us button {
  -webkit-transition: all 0.5s ease 0.8s;
  -o-transition: all 0.5s ease 0.8s;
  transition: all 0.5s ease 0.8s;
  display: block;
  margin: 10px auto;
  background-color: #fed136;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 52px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

footer {
  padding: 20px 0;
}

footer .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .row .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row .links .link {
  margin: 0 5px;
  height: 39px;
  width: 39px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #222222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .row .links .link a {
  color: #fff;
  font-size: 18px;
}

footer .row .links .link:nth-child(1) {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

footer .row .links .link:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.5s;
  -o-transition: all 0.4s ease 0.5s;
  transition: all 0.4s ease 0.5s;
}

footer .row .links .link:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.6s;
  -o-transition: all 0.4s ease 0.6s;
  transition: all 0.4s ease 0.6s;
}

footer .row .links .link:nth-child(4) {
  -webkit-transition: all 0.4s ease 0.7s;
  -o-transition: all 0.4s ease 0.7s;
  transition: all 0.4s ease 0.7s;
}

@media screen and (max-width: 860px) {
  main .our-amazing-team .our-amazing-team__team .our-amazing-team__item .our-amazing-team__avatar {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 800px) {
  main .about-us .about-us__content .row .null-block {
    display: none;
  }

  main .about-us .about-us__content .line-left {
    height: 190px;
    -webkit-transform: rotate(43deg);
        -ms-transform: rotate(43deg);
            transform: rotate(43deg);
  }

  main .about-us .about-us__content .line-right {
    height: 190px;
    -webkit-transform: rotate(-43deg);
        -ms-transform: rotate(-43deg);
            transform: rotate(-43deg);
  }

  main .about-us .about-us__content .row_last .null-block {
    display: block;
  }

  main .sponsors .sponsors__block .sponsors__item img {
    height: 80%;
    width: 80%;
  }

  main .sponsors {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 55px;
    padding: 30px 0;
  }

  header .container .header__top-line .row .header-burger {
    float: right;
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }

  header .container .header__top-line .row .container-burger {
    display: block;
  }

  header .container .header__top-line .row .header__menu {
    display: none;
  }

  header .container .header__top-line {
    padding-top: 20px;
  }

  header .container .header__content p {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  main .services__kategory {
    grid-template-columns: 1fr;
  }

  main .services__kategory .services__kategory-item {
    margin: 20px auto;
    max-width: 300px;
  }
}

@media screen and (max-width: 610px) {
  main .our-amazing-team .our-amazing-team__team .our-amazing-team__item .our-amazing-team__avatar {
    height: 200px;
    width: 200px;
  }

  main .our-amazing-team .our-amazing-team__team {
    grid-template-columns: 1fr;
  }

  main .our-amazing-team .our-amazing-team__team .our-amazing-team__item {
    margin: 30px 0;
  }
}

@media screen and (max-width: 600px) {
  main .our-portfolio .our-portfolio__portfolio-block {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  main .about-us .about-us__content .row .central-img {
    width: 200px;
    height: 200px;
  }

  main .about-us .about-us__content .row .about-us__text {
    text-align: center;
    margin: 15px auto;
    width: 250px;
  }

  main .about-us .about-us__content .row .about-us__text h3 {
    font-size: 15px;
  }

  main .about-us .about-us__content .row .about-us__text p {
    font-size: 12px;
  }

  main .about-us .about-us__content .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  main .about-us .about-us__content .row_l {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main .about-us .about-us__content .line-left {
    height: 190px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  main .about-us .about-us__content .line-right {
    height: 190px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  main .about-us .about-us__content .row_last .null-block {
    display: block;
  }

  main .contact-us .inputs {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 590px) {
  header .container .header__top-line .row .header-burger {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  main .sponsors {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  main .our-portfolio .our-portfolio__portfolio-block {
    grid-template-columns: 1fr;
    grid-column-gap: 25px;
  }
}